body {
  padding: 10px;
}

.actionButton {
  margin: 2px;
  float: left;
}

.modalButton {
  margin: 2px;
  float: right;
}

.recipe-image {
  border-radius: 8px;
  max-width: 100%;
}

.heading {
  font-weight: bold;
  font-size: medium;
}

.ingredient-list {
  margin-left: 20px;
}

.form-textarea {
  width: 100%;
}

.addbutton-ingredient {
  border: 2px solid;
}