body {
  padding: 10px;
}

.actionButton {
  margin: 2px;
  float: left;
}

.createButton {
    float: right;
    margin: 5px;
}

.modalButton {
  margin: 2px;
  float: right;
}

.recipe-image {
  border-radius: 8px;
  max-width: 100%;
}

.heading {
  font-weight: bold;
  font-size: medium;
}

.ingredient-list {
  margin-left: 20px;
}

.form-textarea {
  width: 100%;
}

.addbutton-ingredient {
  border: 2px solid;
}

.background {
    background-image: url('../images/background.jpeg');
    height: 200px;
    position: relative
}

.background div {
    font-size: larger;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.site-title {
    font-size: 50px;
}

.footer {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    background-color: transparent;
}

.formerrormessage {
    color: red;
    background-color: #fff3f3;
    border: 2px solid;
    border-color: red;
    margin-top: 3px;
}